<footer>
  <div style="display:flex">
    {% if config.extra.social %}
      {% for social in config.extra.social %}
          <a class="soc" href={{ social.url }} title={{ social.name }}>
              <i data-feather={{ social.icon }}></i>
          </a>
      {% endfor %}
    {% endif %}
  </div>
  <div class="footer-info">
    {% set copy_date = now() | date(format="%Y") %}
    {{ copy_date ~ " " ~ config.extra.copyright | markdown | safe }}
  </div>
</footer>

{% if config.extra.social %}
<script>
    feather.replace();
</script>
{% endif %}
